@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

$base-color-light: #eee;    
$base-color-dark1: #555;
$base-color-dark2: #333;


* {
    margin: 0;
    padding: 0;
}

body {
    background: #ccc;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 100%;
    margin: auto;
    background: #eee;
    padding-top: 40px;
}